<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/User/{id}(id=${user.getId()})}" th:object="${user}">

  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name" >
  <br>
  <label for="last_name">Enter lastName</label>
  <input type="text" th:field="*{last_name}" id="last_name" >
  <br>
  <input type="submit"  value="Update"/>
</form>

</body>
</html>